<mat-toolbar color="primary" class="navbar">
    <!-- <div class="element" [routerLink]="['/home']">New Game</div>
    <div class="element">Scoreboard</div>
    <div class="element">Load</div>
    <div class="element" [routerLink]="['/rules']">Rules</div> -->
    <button mat-raised-button [routerLink]="['/home']">New Game</button>
    <button mat-raised-button>Scoreboard</button>
    <button mat-raised-button>Load</button>
    <button mat-raised-button [routerLink]="['/rules']">Rules</button>
</mat-toolbar>
