<div class="container">
    <div class="red">
        RED:
        <button (click)="c_1(0)">C1B</button>
        <button (click)="c1(0)">C1F</button>
        <button (click)="c2(0)">C2F</button>
        <button (click)="l1(0)">L1F</button>
        <button (click)="l2(0)">L2F</button>
    </div>
    <div class="green">
        GREEN:
        <button (click)="c_1(3)">C1B</button>
        <button (click)="c1(3)">C1F</button>
        <button (click)="c2(3)">C2F</button>
        <button (click)="l1(3)">L1F</button>
        <button (click)="l2(3)">L2F</button>
    </div>
    <div class="blue">
        BLUE:
        <button (click)="c_1(2)">C1B</button>
        <button (click)="c1(2)">C1F</button>
        <button (click)="c2(2)">C2F</button>
        <button (click)="l1(2)">L1F</button>
        <button (click)="l2(2)">L2F</button>
    </div>
</div>
