<div class="setup">
  <form (submit)="onSubmit(form)" class="modeForm" #form="ngForm">
    <div>
      <input type="radio" name="mode" value="AI" ngModel />
      <label for="mode">Vs AI</label>
    </div>
    <div>
      <input type="radio" name="mode" value="HS" ngModel />
      <label for="mode">Vs Humans (hot seat)</label>
    </div>
    <div>
      <input type="radio" name="mode" value="MP" ngModel />
      <label for="mode">Vs Humans (multiplayer)</label>
    </div>
    <div>
      <input type="radio" name="mode" value="CS" disabled />
      <label for="mode">Custom (not yet implemented)</label>
    </div>
    <div><input type="submit" value="Begin" /></div>
  </form>
</div>
