<div class="setup">
  <form (submit)="onSubmit()" class="modeForm" #form="ngForm">
    <div>
      <input type="radio" name="mode" value="AI" [(ngModel)]="vsAi" />Vs AI
    </div>
    <div>
      <input type="radio" name="mode" value="HS" [(ngModel)]="vsHs" />Vs Humans
      (hot seat)
    </div>
    <div>
      <input type="radio" name="mode" value="MP" [(ngModel)]="vsMp" />Vs Humans
      (multiplayer)
    </div>
    <div>
      <input type="radio" name="mode" value="CS" disabled />Custom (not yet
      implemented)
    </div>
    <div><input type="submit" value="Begin" /></div>
  </form>
</div>
