<!-- <div class="setup">
    <form (submit)="onSubmit(form)" class="modeForm" #form="ngForm">
        <div>
            <input type="radio" name="mode" value="AI" ngModel />
            <label for="mode">Vs AI</label>
        </div>
        <div>
            <input type="radio" name="mode" value="HS" ngModel />
            <label for="mode">Vs Humans (hot seat)</label>
        </div>
        <div>
            <input type="radio" name="mode" value="MP" ngModel />
            <label for="mode">Vs Humans (multiplayer)</label>
        </div>
        <div>
            <input type="radio" name="mode" value="CS" disabled />
            <label for="mode">Custom (not yet implemented)</label>
        </div>
        <div><input type="submit" value="Begin" /></div>
    </form>
</div> -->
<div class="container">
    <mat-card>
        <mat-card-header>
            Select Game Mode
        </mat-card-header>
        <mat-card-content>
            <!-- TODO: ADD LOGIC so that selecting actually does somenthing -->
            <form (submit)="onSubmit(form)" class="modeForm" #form="ngForm">
                <mat-radio-group>
                    <mat-radio-button value="AI">
                        Vs AI
                    </mat-radio-button>
                    <mat-radio-button value="HS" disabled>
                        Vs Humans (hot seat) (not yet implemented)
                    </mat-radio-button>
                    <mat-radio-button value="MP" disabled>
                        Vs Humans (multiplayer) (not yet implemented)
                    </mat-radio-button>
                    <mat-radio-button value="CS" disabled>
                        Custom (not yet implemented)
                    </mat-radio-button>
                </mat-radio-group>
                <button mat-button type="submit">Start!</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
